@charset "UTF-8";

header {
	margin: auto; /* header의 양쪽 여백(margin)을 동등하게 맞춤 -> 수평가운데정렬 */
	width: 1080px;
	height: 215px;
	display: flex;
	align-items: center; /* 하위 요소들 수직 가운데정렬 */
	justify-content: center; /* 헤더 플렉스 요소 가운데 위치 */
	position: relative;
}

#damoaIcon {
	font-size: 40pt;
	color: #368AFF;
	text-decoration: none;
}

a {
	color: #368AFF;
	text-decoration: none;
}

nav {
	margin: auto; /* header의 양쪽 여백(margin)을 동등하게 맞춤 -> 수평가운데정렬 */
	padding-bottom: 40px;
	display: flex;
	align-items: center; /* 하위 요소들 수직 가운데정렬 */
	justify-content: center; /* 헤더 플렉스 요소 가운데 위치 */
	position: relative;
}

ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu {
	
}

ul.menu>li {
	display: inline-block;
	width: 100px;
	padding: 5px;
	text-align: center;
	position: relative;
	background: #9DCFFF;
	font-size: 16pt;
}

ul.menu>li ul.submenu {
	display: none;
	position: absolute;
	top: 35px;
	left: 0;
	background: #9DCFFF;
	font-size: 13pt;
	position: absolute;
}

ul.menu>li:hover ul.submenu {
	display: block;
}

ul.menu>li ul.submenu>li {
	display: inline-block;
	width: 100px;
	padding: 5px;
	text-align: :center;
}

ul.menu>li ul.submenu>li:hover {
	background: #368AFF;
}

main {
	min-height: 600px;
	width: 1000px;
	margin: 0 auto;
}

fieldset {
	border: 0;
}

legend {
	position: absolute;
	left: -9999em;
}

.login {
	float: right;
	width: 300px;
	align-content: center;
}

.loginform {
	width: 200px;
	display: inline-block;
}

.loginBtn {
	display: inline-block;
	position: relative;
	width: 210px;
	height: 50px;
}

#signUpBtn {
	width: 70px;
	float: left;
}

#findIdBtn {
	width: 140px;
}

.table-par {
	width: 1000px;
	margin: 0 auto;
	overflow: visible;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

.item-table {
	width: 300px;
	margin: 0 auto;
}

.cast {
	width: 300px;
	margin: 0 auto;
	font-size: 20pt;
}

footer {
	background: darkgray;
	height: 150px;
}