<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="HandDTO" type="com.javajaba.damoa.hand.dto.HandDTO" />
		<typeAlias alias="AttachedImgDTO" type="com.javajaba.damoa.hand.dto.AttachedImgDTO"/>
		<typeAlias alias="MemberDTO" type="com.javajaba.damoa.member.dto.MemberDTO"/>
		
	</typeAliases>
</configuration>